<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comedor Universitario</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/principal.css">
</head>
<body>
    <header class="cabecera">
        <div class="left-info">
            <div class="direccion">Calle Falsa 123, Ciudad, País</div>
            <div class=" telefono">+123 456 789</div>
        </div>
        <div class="right-info">
            <button><a>Menu</a></button>
            <button><a>¿Quienes Somos?</a></button>
            <button>
                <% if (login) { %>                                        
                    <a href="logout" class="a-logout">Salir</a>
                <%} else { %>
                    <h1><strong><%= name %></strong></h1>   
                    <a href="login" class="a-login">Iniciar Sesion</a>
                <% } %>
            </button> 
        </div>
    </header>
    <Main> 
       <section class="img-2">
        <H2>COMEDOR UNIVERSITARIO</H2>
            <div>
                <img class="portada" src="/assets/img/background/PORTADA_WEB.png" alt="">
            </div>
            <div class="img-log">
                <a href="https://www.veritasint.com/blog/es/mejora-tu-salud-con-10-consejos-nutricionales/">
                    <img src="/assets/img/font-img/imgf-1.png" alt="">
                    <img src="/assets/img/font-img/imgf-2.png" alt="">
                </a>
                <img src="/assets/img/font-img/imgf-3.png" alt="">
                <img src="/assets/img/font-img/imgf-4.png" alt="">
                <img src="/assets/img/font-img/imgf-5.png" alt="">
                <img src="/assets/img/font-img/imgf-6.png" alt=""> 
            </div>
       </section> 
    </Main>
    <script>
        var tableContent = `
            <h2>Degustación Semanal</h2>
            <hr>
            <table border="1" style="width:100%; border-collapse:collapse;">
                <thead>
                    <tr>
                        <th></th>
                        <th class="menu-diario">Desayuno</th>
                        <th class="menu-diario">Almuerzo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="dia-semanal">Lunes</td>
                        <td class="comida-diaria">Avena, Frutas, Café</td>
                        <td class="comida-diaria">Pollo a la plancha, Ensalada, Arroz</td>
                    </tr>
                    <tr>
                        <td class="dia-semanal">Martes</td>
                        <td class="comida-diaria">Huevos revueltos, Pan tostado, Jugo</td>
                        <td class="comida-diaria">Pasta con salsa, Vegetales, Jugo</td>
                    </tr>
                    <tr>
                        <td class="dia-semanal">Miércoles</td>
                        <td class="comida-diaria">Yogur, Granola, Frutas</td>
                        <td class="comida-diaria">Carne asada, Papas, Ensalada</td>
                    </tr>
                    <tr>
                        <td class="dia-semanal">Jueves</td>
                        <td class="comida-diaria">Pancakes, Miel, Frutas</td>
                        <td class="comida-diaria">Pescado, Arroz, Verduras</td>
                    </tr>
                    <tr>
                        <td class="dia-semanal">Viernes</td>
                        <td class="comida-diaria">Cereal, Leche, Frutas</td>
                        <td class="comida-diaria">Pollo al horno, Puré de papas, Ensalada</td>
                    </tr>
                </tbody>
            </table>
        `;
        var quienesSomos = `
            <p>
                Bienvenidos al Comedor Universitario de la Universidad Nacional De Juliaca. Somos un espacio dedicado a proporcionar a nuestra comunidad estudiantil, una alimentación balanceada, saludable y accesible. Nuestro objetivo es no solo satisfacer las necesidades nutricionales, sino también fomentar hábitos alimenticios saludables y sostenibles.
            </p>
        `;
        document.getElementById('myButton').onclick = function() {
            alertify.alert('Menu Principal', tableContent, function(){
                alertify.success('Ok');
            });
        };
        document.getElementById('myButton1').onclick = function() {
            alertify.alert('Quines Somos', quienesSomos, function(){
                alertify.success('Ok');
            });
        };
    </script>
</body>
</html>