<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comedor Universitario</title>
    <link rel="stylesheet" href="/assets/css/principal.css">
</head>
<body>
    <header class="cabecera">
        <div class="left-info">
            <div class="direccion">Calle Falsa 123, Ciudad, País</div>
            <div class=" telefono">+123 456 789</div>
        </div>
        <div class="right-info">
            <a href="#">login</a>
        </div>
    </header>
    <Main>
        <section class="limite-capacidad">
            <table>
                <tr>
                    <th>Capacidad Total</th>
                    <th>Capacidad Actual</th>
                </tr>
                <tr>
                    <td>100</td>
                    <td>32</td>
                </tr>
            </table>
        </section>
        
        <section class="menu">
            <h2>Degustación Semanal</h2>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th class="menu-diario">Desayuno</th>
                        <th class="menu-diario">Almuerzo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="dia-semanal">Lunes</td>
                        <td class="comida-diaria">Avena, Frutas, Café</td>
                        <td class="comida-diaria">Pollo a la plancha, Ensalada, Arroz</td>
                    </tr>
                    <tr>
                        <td class="dia-semanal">Martes</td>
                        <td class="comida-diaria">Huevos revueltos, Pan tostado, Jugo</td>
                        <td class="comida-diaria">Pasta con salsa, Vegetales, Jugo</td>
                    </tr>
                    <tr>
                        <td class="dia-semanal">Miércoles</td>
                        <td class="comida-diaria">Yogur, Granola, Frutas</td>
                        <td class="comida-diaria">Carne asada, Papas, Ensalada</td>
                    </tr>
                    <tr>
                        <td class="dia-semanal">Jueves</td>
                        <td class="comida-diaria">Pancakes, Miel, Frutas</td>
                        <td class="comida-diaria">Pescado, Arroz, Verduras</td>
                    </tr>
                    <tr>
                        <td class="dia-semanal">Viernes</td>
                        <td class="comida-diaria">Cereal, Leche, Frutas</td>
                        <td class="comida-diaria">Pollo al horno, Puré de papas, Ensalada</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </Main>
    <script src=""></script>
</body>
</html>