<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/login.css">
    <title>login</title>
</head>
<body>
    <main>
        <section class="img-login"><img src="/assets/img/alumons-comedor-universitario.jpg" alt=""></section>
        <section class="login">
            <p>Iniciar Sesion</p>
            <p>Usuario</p>
            <input type="text">
            <p>Contraseña</p>
            <input type="text">
            <button>Entrar</button>
        </section>
    </main>
</body>
</html>