<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutricionista</title>
    <link rel="stylesheet" href="../assets/css/nutri.css">
</head>
<body>
    <header>
        <div class="header-content">
            <p>Av. Nueva Zelandia N° 631 - Juliaca</p>
            <p><a href="mailto:info@unaj.edu.pe">info@unaj.edu.pe</a></p>
        </div>
        <nav>
            <ul>
                <li><a href="#">Portal de Transparencia</a></li>
                <li><a href="#">Intranet</a></li>
                <li><a href="#">Español</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="nutricionista">
            <h1>Nutricionista</h1>
            <button class="btn-inventario">Inventario de Productos</button>
            <div class="sections">
                <div class="section">
                    <img src="../assets/img/font-img/imgf-1.png" alt="">
                    <p>Información Nutricional y Consejos de Salud</p>
                </div>
                <div class="section">
                    <img src="../assets/img/font-img/imgf-3.png" alt="">
                    <p>Blog de Salud y Bienestar</p>
                </div>
                <div class="section">
                    <img src="../assets/img/font-img/imgf-5.png" alt="">
                    <p>Educación nutricional</p>
                </div>
            </div>
            <div class="buttons">
                <button class="btn-menu">Menu</button>
                <button class="btn-exportar">Exportar</button>
            </div>
        </section>
    </main>
</body>
</html>