<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <header>
        <div class="left-info">
            <div class="direccion">Calle Falsa 123, Ciudad, País</div>
            <div class=" telefono">+123 456 789</div>
        </div>
        <div class="right-info">
            <a href="#">login</a>
        </div>
    </header>
    <Main>
        <section>
            <p>buscar por codigo o dni</p>
            <input type="text">
        </section>
        <section>
            <table>
                <thead>
                    <tr>
                        <th>Día</th>
                        <th>Desayuno (6:00 - 9:00)</th>
                        <th>Almuerzo (11:00 - 14:00)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lunes</td>
                        <td>Avena, Frutas, Café</td>
                        <td>Pollo a la plancha, Ensalada, Arroz</td>
                    </tr>
                    <tr>
                        <td>Martes</td>
                        <td>Huevos revueltos, Pan tostado, Jugo</td>
                        <td>Pasta con salsa, Vegetales, Jugo</td>
                    </tr>
                    <tr>
                        <td>Miércoles</td>
                        <td>Yogur, Granola, Frutas</td>
                        <td>Carne asada, Papas, Ensalada</td>
                    </tr>
                    <tr>
                        <td>Jueves</td>
                        <td>Pancakes, Miel, Frutas</td>
                        <td>Pescado, Arroz, Verduras</td>
                    </tr>
                    <tr>
                        <td>Viernes</td>
                        <td>Cereal, Leche, Frutas</td>
                        <td>Pollo al horno, Puré de papas, Ensalada</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <button>INICIAR REGISTRO</button>
        </section>
    </Main>
</body>
</html>