<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/register.css">
    <title>Register</title>
</head>
<body>
    <header>
        <div class="left-info">
            <div class="direccion">Calle Falsa 123, Ciudad, País</div>
            <div class=" telefono">+123 456 789</div>
        </div>
        <div class="right-info">
            <a href="#">Salir</a>
        </div>
    </header>
    <Main>
        <section class="input-search">
            <div class="search-info">
                <p>Estudiantes</p>
                <input type="text" placeholder="Codigo/DNI">
                <button>BUSCAR</button>
            </div>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Codigo</th>
                            <th>DNI</th>
                            <th>Nombre y Apellidos</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
            <div>
                <button>Registrar</button>
            </div>
        </section>
        <section class="info-start">
            <section>
            <button>INICIAR REGISTRO</button>
            </section>
        </section>
    </Main>
</body>
</html>