@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Outfit:wght@100..900&display=swap');

body{
    font-family: 'Outfit';
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
}
header {
    background-color: #134B70;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-info {
    display: flex;
    flex-direction: row;
    padding-left: 6px;
}
.left-info .telefono{
    padding-left: 10px;
}
.right-info {
    display: flex;
    align-items: center;
}
.btn {
    border: none; 
    color: white; 
    padding: 10px 20px; 
    cursor: pointer;
    text-decoration: none; 
    border-radius: 5px; 
    display: inline-flex;
    font-weight: 700;
}
.a-logout {background-color: #EEEEEE; color: black;} 
.a-logout:hover {background: #cfcfcf;}

main{
    display: flex;
    padding: 20px;
    font-family: "Outfit", sans-serif;
}
.input-search{
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
    height: 90vh;
    width: 70%;
}
.search-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search-info form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
.search-info p{
    font-size: 20px;
    font-weight: 700;
    margin: 20px;
}
.search-info  form input{
    background-color: #EEEEEE;
    font-size: 20px;
    font-weight: 700;
    border-radius: 15px;
    border: none;
    padding: 0.5rem;
    margin: 1rem;
}

.pulse-effect {
    border: none;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #134B70; /* Color base del botón */
    transition: transform 0.3s ease-in-out; /* Transición suave del efecto de pulsación */
}

.pulse-effect:hover {
    background-color: #0c2f46; /* Cambia el color al pasar el cursor sobre el botón */
}

.pulse-effect:active {
    transform: scale(0.9); /* Reduce ligeramente el tamaño del botón cuando se hace clic */
}

.crud-info{
    display: flex;
    justify-content: center;
}
.crud-info .btn{
    margin: 10px;
}

.table-container {
    max-height: 75vh;
    overflow-y: auto;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    background-color: #f4f4f4;
}
.info-list table{
    width: 100%;
    text-align: center;
}

.info-start{
    background-color: rgb(255, 255, 255);
    height: 90vh;
    width: 30%;
}
.info-start{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly
}

.info-start h1{
    font-size: 40px;
    font-weight: 700px;
    border-radius: 15px;
    padding: 0.5rem 5%;
    background-color: aqua;
    border: none;
    margin: 1rem 3rem;
    text-align: center;
}
.info-start h2{
    font-size: 30px;
    font-weight: 400px;
    border-radius: 15px;
    padding: 0.5rem 5%;
    background-color: aqua;
    border: none;
    margin: 1rem 3rem;
    text-align: center;
}
.info-start p{
    font-size: 20px;
    font-weight: 100px;
    border-radius: 15px;
    padding: 0.5rem 5%;
    background-color: aqua;
    border: none;
    margin: 1rem 3rem;
    text-align: center;
}
.info-start button{
    font-size: 20px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}