* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #3c6dc7;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-info {
    display: flex;
    flex-direction: row;
    padding-left: 6px;
}
.header-content p {
    margin: 0;
}

.header-content a {
    color: white;
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.nutricionista {
    background-color: #e0f7fa;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.btn-inventario {
    background-color: #00bcd4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.sections {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.section {
    text-align: center;
}

.section img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.btn {
    border: none; 
    color: white; 
    padding: 10px 20px; 
    cursor: pointer;
    text-decoration: none; 
    border-radius: 5px; 
    display: inline-flex;
    font-weight: 700;
}
.a-logout {background-color: #EEEEEE; color: black;} 
.a-logout:hover {background: #cfcfcf;}
.btn-menu, .btn-exportar {
    background-color: #00bcd4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#inventario table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#inventario th, #inventario td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

#inventario th {
    background-color: #f2f2f2;
}

/* Estilos para el botón */
.btn-inventario {
    background-color: #00bcd4; /* Color de fondo verde */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Bordes redondeados */
}

.btn-inventario:hover {
    background-color: #ccd5e0; /* Color más oscuro al pasar el mouse */
}

#inventario table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#inventario th, #inventario td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

#inventario th {
    background-color: #f2f2f2;
}

#agregarProductoForm {
    margin-top: 20px;
}

#agregarProductoForm input,
#agregarProductoForm button {
    margin-bottom: 10px;
}