@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Outfit:wght@100..900&display=swap');
body{
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/img/background/img-1.jpg");*/
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}
.cabecera {
    background-color: #2d4268;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-info {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
}
.left-info .telefono{
    padding-left: 10px;
}
.right-info {
    display: flex;
    align-items: center;
}

.btn {
    border: none; 
    color: black; 
    padding: 10px 20px; 
    cursor: pointer;
    border-radius: 5px; 
    display: inline-flex;
    font-weight: 700;
    margin-right: 5px;
}
.primary {background-color: #e7e7e7; color: black;} 
.primary:hover {background: #cfcfcf;}

.right-info button a {
    color: black;
    text-decoration: none;
}
.img-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-2 .portada{
  width: 150vh;
}
.img-log img {
    margin: 10px;
    width: 15vh;
}