body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/img/background/img-1.jpg");
    margin: 0;
    padding: 0;
}
.cabecera {
    background-color: #2d4268;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-info {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
}
.left-info .telefono{
    padding-left: 10px;
}
.right-info {
    display: flex;
    align-items: center;
}
.right-info a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    background-color: #333;
    border-radius: 4px;
    margin-left: 20px;
}
.limite-capacidad{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.limite-capacidad div{
    background-color: rgb(193, 198, 202, 0.6);
    padding: 10px;
    border-radius: 15px;
}
.limite-capacidad div p{
    text-align: center;
    font-weight: 700;
}
main{
    margin: 250;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(193, 198, 202);
    margin: 0 250px;
    padding: 1rem 2rem;
}
hr {
    height: 2px;
    width: 100%;
    background-color: rgb(42, 61, 165);
    border-color: rgb(61, 42, 165);
  }
.menu-diario{
    padding: 1rem 0;
}
.dia-semanal{
    padding: 12px 20px;
}
.comida-diaria{
    padding: 0 20px;
    text-align: center;
}